:root {
  --font-color: #2d2f30;
  --link-botton-color: #303d5b;
}

[data-user-color-scheme="dark"] {
  --font-color: #b3b9c5;
}

html {
  line-height: 1.54;
}

body {
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
}

.article-post a {
  box-shadow: 0 -2px 0 var(--link-color) inset;
}

.article-post a:hover {
  box-shadow: 0 -10px 0 rgba(0, 153, 255, 0.7) inset;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child) {
  margin-top: 0;
}

p, ol, ul, dl, table, blockquote {
  margin: 0 0 1rem;
  font-size: 1.1rem;
}

header {
  padding: 0.5rem 0;
}

.post-meta, .post-meta time {
  color: #4c4c4c;
}

.post-meta .tags {
  margin-top: .2rem;
}

.tags > a {
  background: none;
  padding: .2rem .4rem;
  margin: 0;
  color: var(--light-font-color);
}

a.button {
  border: 2px solid var(--link-botton-color);
  background: var(--link-botton-color);
}