<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo"
  style="text-decoration: none;"
>
  {{ if $.Site.Params.Logo.path }}
    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />
    {{ else }}
    <span class="logo__mark">🌵</span>
    <span class="logo__text"
      >{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}hello friend{{ end }}</span
    >
  {{ end }}
</a>
<div>
    <a href="/index.xml" title="RSS FEED">
      <svg width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/feather-sprite.svg#rss"></use>
      </svg></a>
    <a href="https://github.com/mikomatic" title="GitHub">
      <svg width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/feather-sprite.svg#github"></use>
      </svg></a>
    <a href="https://twitter.com/mikomatic" title="Twitter">
      <svg width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/feather-sprite.svg#twitter"></use>
      </svg></a>
</div>
